@import '../../components/GlobalStyles/breakpoints.scss';

.comic-item-detail {
    .title-detail {
        font-size: 2.2rem;
        color: var(--text-color);
    }

    .update-time {
        font-size: 1.3rem;
        font-style: italic;
        color: var(--time-color);
        margin-bottom: 20px;
    }

    &.adm .update-time {
        font-size: 1.5rem;
    }

    .info-detail {
        margin-bottom: 15px;

        .col-image {
            padding: 0 15px 0 0;
            text-align: center;

            @include breakpoint(md) {
                padding: 0;
            }

            img {
                max-width: 300px;
                width: 100%;
                border-radius: 2px;
                object-fit: cover;
                margin-bottom: 15px;
                background: url(../../assets/images/logo-icon.png) center/30px no-repeat;
            }
        }

        .col-info {
            padding: 0;
            padding-left: 15px;

            @include breakpoint(md) {
                padding-left: 0;
            }

            .info-list {
                color: var(--detail-text-color);

                .info-row {
                    .info-title {
                        font-weight: 600;

                        svg {
                            line-height: 2.4rem;
                            margin-right: 6px;
                        }

                        span {
                            display: flex;
                            align-items: center;
                        }
                    }

                    .full,
                    .ongoing {
                        display: inline-block;
                        padding: 4px 6px;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 1.4rem;
                    }

                    .full {
                        background-color: var(--red);
                    }

                    .ongoing {
                        background-color: var(--green);
                    }

                    .genre-link {
                        display: inline-block;
                        color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                        border-radius: 4px;
                        margin-right: 6px;
                        margin-bottom: 6px;
                        padding: 2px 4px;

                        &:hover {
                            background-color: var(--primary-color);
                            color: #fff;
                        }
                    }
                }

                margin-bottom: 16px;
            }

            .review {
                font-size: 1.4rem;
                margin-bottom: 12px;
                color: var(--text-color);

                span {
                    display: inline-flex;
                    align-items: center;

                    svg {
                        margin: 0 2px;
                        color: #ffb71c;
                    }
                }

                &-btn {
                    span {
                        margin-right: 5px;
                    }
                }

                .rating {
                    .card {
                        border: none;

                        & > span {
                            color: #666;
                        }
                    }
                }
            }

            .follow {
                margin-bottom: 12px;
                color: var(--text-color);

                &-btn {
                    svg {
                        margin-right: 5px;
                    }
                }

                .follow-btn {
                    min-width: 110px;
                }
            }
        }
    }

    &.adm .info-detail {
        .col-image {
            img {
                max-width: 300px;
            }
        }
        .col-info .review {
            font-size: 1.6rem;
        }
    }

    .detail-content {
        font-size: 1.4rem;
        color: var(--text-color);

        p {
            padding: 0;
            margin: 0;
            position: relative;

            &.short-content {
                max-height: 60px;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 20px;
                    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                }
            }
        }

        a {
            color: var(--primary-color);

            &:hover {
                text-decoration: underline;
            }
        }

        .content-more {
            background-color: transparent;
            color: var(--primary-color);
        }
    }

    &.adm .detail-content {
        font-size: 1.6rem;
    }

    &.adm svg {
        font-size: 2.2rem;
    }

    .skeleton {
        opacity: 0.7;
        border: none;
        animation: skeleton-loading 1s linear infinite alternate;
        border-radius: 2px;
        display: inline-block;
    }

    .col-image.skeleton {
        min-height: 300px;
        max-width: 220px;
        padding-right: 0;
        margin: 0 auto 20px;
    }

    .skeleton-title-detail {
        width: 400px;
        height: 22px;
    }

    .skeleton-update-time {
        width: 250px;
        height: 14px;
        margin-bottom: 20px;
    }

    .skeleton-info {
        height: 15px;
    }

    .skeleton-text {
        height: 15px;
        width: 100%;

        &:last-child {
            width: 70%;
        }
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: #a3b8c2;
    }

    100% {
        background-color: #f0f3f5;
    }
}
