.comic-item-detail {
    .title-detail {
        font-size: 2.2rem;
        color: var(--text-color);
    }

    .update-time {
        font-size: 1.3rem;
        font-style: italic;
        color: var(--time-color);
        margin-bottom: 20px;
    }

    &.adm .update-time {
        font-size: 1.5rem;
    }

    .info-detail {
        .col-image {
            padding: 0 15px 0 0;

            img {
                width: 100%;
                border-radius: 2px;
                object-fit: cover;
            }
        }

        .col-info {
            padding: 0 15px;

            .info-list {
                color: var(--detail-text-color);

                .info-row {
                    .info-title {
                        font-weight: 600;

                        svg {
                            line-height: 2.4rem;
                        }
                        span {
                            margin-left: 6px;
                        }
                    }

                    .genre-link {
                        display: inline-block;
                        color: var(--primary-color);
                        margin-right: 4px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                margin-bottom: 16px;
            }

            .review {
                font-size: 1.4rem;
                margin-bottom: 12px;
                color: var(--text-color);

                span {
                    display: inline-flex;
                    align-items: center;

                    svg {
                        margin: 0 2px;
                        color: #ffb71c;
                    }
                }

                &-btn {
                    span {
                        margin-right: 5px;
                    }
                }

                .rating {
                    .card {
                        border: none;

                        & > span {
                            color: #666;
                        }

                        .log-in-btn {
                            padding: 5px;
                            width: 100px;
                            text-align: center;
                            border: 1px solid #666;
                            background-color: #fff;
                            border-radius: 2px;

                            &:hover {
                                border-color: var(--primary-color);
                            }
                        }
                    }
                }
            }

            .follow {
                margin-bottom: 12px;
                color: var(--text-color);

                &-btn {
                    svg {
                        margin-right: 5px;
                    }
                }

                .follow-btn {
                    min-width: 110px;
                }
            }
        }
    }

    &.adm .info-detail {
        .col-image {
            img {
                max-width: 300px;
            }
        }
        .col-info .review {
            font-size: 1.6rem;
        }
    }

    .detail-content {
        font-size: 1.4rem;
        color: var(--text-color);

        p {
            padding: 0;
            margin: 0;
            position: relative;

            &.short-content {
                max-height: 60px;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 20px;
                    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                }
            }
        }

        .content-more {
            background-color: transparent;
        }
    }

    &.adm .detail-content {
        font-size: 1.6rem;
    }

    &.adm svg {
        font-size: 2.2rem;
    }
}
