.items {
    h3 {
        .comic-link {
            color: var(--primary-color);

            &:hover {
                text-decoration: underline;
            }
        }

        .updated-time {
            font-size: 1.4rem;
            font-style: italic;
            margin-left: 6px;
        }
    }

    span {
        color: var(--text-color);

        &.updated-time {
            color: var(--time-color);
        }
    }
}

.select-btn {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.4rem;

    &:hover {
        background-color: #f1684d;
        color: #fff;
    }

    &.prev {
        border-radius: 6px 0 0 6px;
    }

    &.next {
        border-radius: 0 6px 6px 0;
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
        background-color: #888;
    }
}

.reading-control {
    padding: 10px 15px 20px 15px;
    background-color: var(--reading-control-bg-color);
    font-style: italic;

    .alert {
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            font-size: 1.4rem;

            svg {
                font-size: 1.4rem;
            }
        }

        svg {
            font-size: 2rem;
        }

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    .chapter-nav {
        height: 42px;

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 4px 0;
            background-color: var(--reading-control-bg-color);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
            z-index: 999;
        }

        a {
            color: var(--secondary-color);
            display: inline-flex;
            align-items: center;
            margin: 0 4px;

            svg {
                font-size: 2.4rem;
            }
        }

        .home,
        .comic {
            &:hover {
                color: #f1684d;
            }
        }

        a.select-btn {
            color: #fff;
        }

        .chapter-list {
            display: inline-block;
            height: 34px;
            width: 28%;
            outline: none;
            font-size: 1.4rem;
        }

        .chapter-modal {
            .modal-dialog {
                width: 600px;
                max-width: 100%;
                padding: 10px;

                .modal-header {
                    padding: 20px;

                    .search-chapter {
                        width: 80%;
                    }
                }

                .modal-body {
                    font-size: 1.4rem;

                    a {
                        padding: 4px;
                        margin-bottom: 5px;
                        color: #000;
                        font-style: normal;
                        border: 1px solid #666;
                        border-radius: 2px;
                        justify-content: center;

                        &.active {
                            color: var(--secondary-color);
                            border-color: var(--secondary-color);
                        }
                    }
                }

                .modal-footer {
                    .chapter-list-close {
                        padding: 5px 15px;
                        background-color: transparent;
                        border-color: #666;
                        color: #000;
                    }
                }
            }
        }
    }
}

.chapter-images {
    padding: 10px 0;
    background: var(--chapter-list-bg-color);

    .chapter-page {
        width: 900px;
        max-width: 100%;
        margin: auto;

        img {
            width: 900px;
        }
    }

    .chapter-load {
        background-color: #303030;
        padding: 2px 0;

        img {
            width: 32px;
            height: auto;
        }
    }

    .chapter-picture {
        background: #303030 url(../../assets/images/spinner.gif) center no-repeat;
    }
}

.chapter-bottom {
    padding: 10px 0 15px;

    .chapter-nav-bottom {
        a {
            display: inline-flex;
            align-items: center;
        }
    }
}

.modal-backdrop {
    display: none;
}
