.not-found-wrappper {
    min-height: calc(100vh - 56px - 40px - 100px);
    display: flex;
    align-items: center;
    color: var(--text-color);

    .content {
        padding: 0 20px;
        text-align: center;

        .error-title {
            font-size: 16rem;
            font-weight: bold;
        }

        h2 {
            font-size: 3rem;
            margin-bottom: 32px;
        }

        a {
            display: inline-block;
            background-color: #09eb89;
            color: #fff;
            padding: 8px 16px;
            border-radius: 4px;
            margin-top: 15px;

            &:hover {
                background-color: #01d579;
            }
        }
    }

    .image-wrapper {
        padding: 20px;

        .not-found-img {
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
    }
}
