.side-item {
    padding: 10px;
    margin: 0 4px;
    transition: all 0.15s ease-in;

    &:hover {
        background-color: #f0f2f5;
        border-radius: 4px;
    }

    .item-img {
        width: 70px;
        height: 60px;
        object-fit: cover;
        margin-right: 10px;
    }

    .item-info {
        flex: 1;
        overflow: hidden;

        .title {
            display: block;
            font-size: 1.4rem;
            margin-bottom: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .lastest-chapter {
            .number {
                font-size: 1.3rem;
            }

            .continue-read {
                font-size: 1.4rem;
                color: var(--time-color);

                &:hover {
                    color: var(--primary-color);
                }
            }

            .time,
            .btn-delete {
                font-style: italic;
                color: var(--time-color);
                margin-right: 2px;
            }

            .time {
                font-size: 1.1rem;
            }

            .btn-delete {
                background: none;
                font-size: 1.3rem;

                &:hover {
                    color: var(--red);
                }
            }
        }
    }
}
