.star-rating {
    display: inline-flex;
    align-items: end;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
    }

    &.medium .stars .star svg {
        margin-top: 6px;
        font-size: 2.2rem;
    }

    &.small {
        .stars .star {
            svg {
                margin-top: 6px;
                font-size: 1.4rem;
            }
        }
        .time-rating {
            font-size: 1.1rem;
            margin-left: 10px;
            line-height: 1.1;
        }
    }

    .stars {
        position: relative;

        .star {
            padding: 0 1px;
            &.fill-star {
                position: absolute;
                width: 0;
                overflow: hidden;

                &.active {
                    width: 100%;
                }
            }

            svg {
                font-size: 3rem;
                color: #ffb71c;
            }
        }
    }
}

.time-rating {
    margin-left: 20px;
    font-size: 1.3rem;
}

.current-rating {
    margin-top: 6px;
}
