.form-group {
    label {
        color: var(--text-color);

        &.form-check-label {
            margin: 0;
            padding-left: 10px;
        }
    }
    .input {
        position: relative;

        .form-control {
            padding: 8px;
            padding-right: 3.2rem;
            font-size: 1.6rem;
        }

        .input-icon {
            padding: 5px;
            position: absolute;
            top: -2px;
            right: 3px;
            cursor: pointer;
            font-size: 2rem;
            color: var(--grey);
            transition: all 0.2s ease-in;

            &:hover {
                color: #333;
            }
        }
    }

    textarea {
        height: 150px;
    }
}
