main.main {
    background-color: var(--main-bg-color);

    .main-container {
        padding: 15px 0;
        min-height: calc(100vh - 56px - 40px - 225px);
        background-color: var(--main-container-bg-color);
    }
}
