ol.breadcrumb {
    padding: 0 15px;

    .breadcrumb-item {
        font-size: 1.4rem;

        a {
            color: var(--primary-color);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
