.header-btn {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--primary-color);
    font-size: 2rem;
    transition: all 0.03s ease-in;
    display: flex;
    align-items: center;

    &.hover:hover {
        background-color: #e6e6e6;
    }

    &.mobile-btn {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-btn.mobile-btn {
        display: inline-flex;
    }
}
