@keyframes spinner-1 {
    0% {
        top: 18px;
        height: 64px;
    }
    50% {
        top: 30px;
        height: 40px;
    }
    100% {
        top: 30px;
        height: 40px;
    }
}
@keyframes spinner-2 {
    0% {
        top: 20.999999999999996px;
        height: 58.00000000000001px;
    }
    50% {
        top: 30px;
        height: 40px;
    }
    100% {
        top: 30px;
        height: 40px;
    }
}
@keyframes spinner-3 {
    0% {
        top: 24px;
        height: 52px;
    }
    50% {
        top: 30px;
        height: 40px;
    }
    100% {
        top: 30px;
        height: 40px;
    }
}

.spinner div {
    position: absolute;
    width: 15px;
}

.spinner div:nth-child(1) {
    left: 17.5px;
    background: #85a2b6;
    animation: spinner-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.2s;
}

.spinner div:nth-child(2) {
    left: 42.5px;
    background: #bbcedd;
    animation: spinner-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.1s;
}

.spinner div:nth-child(3) {
    left: 67.5px;
    background: #dce4eb;
    animation: spinner-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds;
}

.spinner-wrapper {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.spinner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.spinner div {
    box-sizing: content-box;
}
