.search-title {
    color: var(--text-color);
}

.btn.btn-show-search {
    border-radius: 4px;
    font-size: 1.4rem;
    min-width: 164px;
    background-color: var(--primary-color);

    span {
        color: #fff;
    }

    &:hover {
        background-color: var(--primary-color);
    }

    &:first-child:active {
        background-color: var(--primary-color);
    }

    svg {
        margin-left: 4px;
    }
}

.search-instruction {
    margin-bottom: 15px;

    small {
        font-size: 1.2rem;
        color: #c2c2c2;
    }
}

.instruction-item {
    margin-bottom: 8px;
    font-size: 1.4rem;
    color: var(--text-color);

    .check {
        width: 20px;
        height: 20px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
        cursor: pointer;
        background-color: #fff;

        &.tick {
            background-color: var(--green);
            color: #fff;
        }

        &.cross {
            background-color: var(--red);
            color: #fff;
        }
    }
}

.filter-row {
    color: var(--text-color);
}

.advsearch-box {
    font-size: 1.4rem;
    transition: all 1s ease;

    .genre-col {
        padding: 0 15px;

        .genre-item {
            border: 2px solid var(--border-color);
            border-radius: 2px;
            padding: 5px 15px;
            position: relative;
            cursor: pointer;

            &:hover {
                background-color: rgba(221, 221, 221, 0.25);
            }

            &.tick {
                border-color: var(--green);
                background-color: var(--green-hover);
            }

            &.cross {
                border-color: var(--red);
                background-color: var(--red-hover);
            }

            &.tick::after,
            &.cross::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                border-style: solid;
                border-width: 0 24px 24px 0;
                border-color: transparent var(--green) transparent transparent;
            }

            &.tick::after {
                border-color: transparent var(--green) transparent transparent;
            }

            &.cross::after {
                border-color: transparent var(--red) transparent transparent;
            }

            .genre-check-box {
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                align-items: center;
                color: var(--white);
                z-index: 10;

                svg {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .advsearch-select-container {
        .advsearch-select__control {
            border: 1px solid var(--border-color);
            border-radius: 2px;
        }

        .advsearch-select__value-container {
            padding: 0 15px;
        }

        .advsearch-select__menu {
            color: #000;
        }
    }

    .advsearch-btn {
        min-width: 80px;
    }
}
