.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-body {
    padding-left: 20px;
    padding-right: 20px;
}

#starRating {
    .card.card-body {
        padding: 0;
        color: var(--text-color);

        .body-title {
            font-size: 1.6rem;
        }

        .rating-avg {
            display: inline-flex;
            align-items: center;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 0;

            svg {
                margin-left: 6px;
                color: #ffb71c;
            }
        }

        .rating-count {
            font-size: 1.2rem;
            color: #999;
        }
    }
}

.see-rating {
    min-width: 110px;
}

.rating-list {
    margin-top: 10px;

    .rating-item {
        padding: 16px 0;
        position: relative;

        &:not(:last-child):after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 80px;
            border: 1px solid rgba(194, 194, 194, 0.25);
        }

        .user-info {
            display: flex;
            align-items: center;

            .avatar-wrapper {
                padding-right: 20px;

                .avatar {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .name {
                color: var(--text-color);
                font-weight: bold;
                font-size: 1.6rem;
            }
        }

        .cur-stars {
            margin: 6px 0;
        }

        .content {
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }
}

.rating-form {
    padding: 10px 20px;
    border-top: 1px solid #eaecee;
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.1);

    .card.card-body {
        background-color: var(--nav-hover);

        border: none;

        & > span {
            color: #666;
        }

        .log-in-btn {
            padding: 5px;
            width: 100px;
            text-align: center;
            border: 1px solid #666;
            background-color: var(--nav-hover);
            border-radius: 2px;

            &:hover {
                border-color: var(--primary-color);
            }
        }
    }

    .auth-rating {
        padding-left: 10px;
        border-left: 2px solid rgba(194, 194, 194, 0.25);
        position: relative;

        .dropdown {
            position: absolute;
            right: 6px;
            top: 6px;
        }

        .dropdown-toggle {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            border-radius: 50%;
            color: var(--text-color);

            svg {
                font-size: 2rem;
            }

            &::after {
                display: none;
            }

            &:hover {
                background-color: var(--sidebar-item-hover);
            }
        }

        .dropdown-item {
            font-size: 1.4rem;

            span {
                color: #000;
            }
        }
    }

    & > span {
        color: #999;
    }

    .form {
        .user-avatar {
            margin-right: 10px;
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        form {
            flex: 1;

            .rating-input {
                margin: 6px 0;
                padding: 10px;
                width: 100%;
                height: 80px;
                outline: none;
                border: none;
                border-radius: 8px;
                background-color: #f0f2f5;
            }
        }
    }
}
