nav.nav-bar {
    background-color: #ececec;
    border-bottom: 1px solid #dedede;
    // position: sticky;
    // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    // top: 0;
    z-index: 9999;

    .nav-list {
        margin-bottom: 0;
    }
}
