@import '../../components/GlobalStyles/breakpoints.scss';

.genre-name {
    color: var(--primary-color);
}

.genre-list {
    width: 100%;
    padding: 6px;
    margin-top: 16px;
    font-size: 1.4rem;
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.genre-description {
    margin: 16px 0 24px;

    .info {
        padding: 10px;
        color: var(--text-color);
        background-color: var(--nav-border);
        border-radius: 4px;
        font-size: 1.4rem;
    }
}

.filter-wrapper {
    .filter,
    .sort {
        margin-bottom: 15px;

        .filter-title {
            font-size: 1.4rem;
        }
    }
}
