.page-title {
    font-size: 2rem;
    font-weight: 400;
    // padding: 0 0 4px;
    margin-bottom: 15px;
    color: var(--primary-color);

    &.bd-bottom {
        border-bottom: 2px solid var(--primary-color);

        span {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.upper {
        text-transform: uppercase;
        font-size: 1.6rem;
    }

    .title {
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
        color: #fff;
        padding: 6px 10px;
        border-radius: 4px;

        .text {
            margin: 0 5px;
            color: #fff;
        }
    }
}
