.visited-tab {
    ul {
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;

        li {
            display: inline-block;

            a {
                display: inline-block;
                color: var(--primary-color);
                min-width: 140px;
                padding: 5px 10px;
                position: relative;
                opacity: 0.8;
                transition: all 0.2s ease;
                cursor: pointer;

                &:hover {
                    background-color: rgb(35, 35, 243, 0.1);
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                    opacity: 1;
                }

                &.active {
                    font-weight: bold;
                    opacity: 1;
                }

                &.active::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    right: 0;
                    height: 4px;
                    background-color: var(--primary-color);
                    z-index: 99;
                }
            }
        }
    }
}
