@import '../../../components/GlobalStyles/breakpoints.scss';

aside.wrapper {
    width: 33.333333%;
    padding: 0 15px;

    @include breakpoint(md) {
        width: 100%;
    }
}

.genre-nav {
    padding: 0 10px;
    .genres {
        .genre-item {
            border-bottom: 1px solid var(--border-color);

            a {
                display: block;
                padding: 10px;
                font-size: 1.4rem;
                color: var(--text-color);

                &.active {
                    color: var(--primary-color);
                }
            }
        }

        .genre-item:first-child {
            float: none;

            a {
                padding-top: 0;
            }
        }

        .genre-item:last-child {
            border-bottom: none;
        }
    }
}
