@import '../../components/GlobalStyles/breakpoints.scss';

main.main {
    background-color: #f0f2f5;

    .main-content {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: var(--white);

        @include breakpoint(md) {
            flex-direction: column;
        }

        .content {
            flex: 1;
            @include breakpoint(md) {
                width: 100%;
            }
        }
    }
}
