header.header {
    .container {
        height: 56px;

        .navbar-brand {
            height: 100%;

            .img-logo {
                height: 40px;
            }
        }

        .navbar-nav {
            .nav-item.dropdown {
                .nav-link {
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 2rem;
                    background-color: var(--white);
                    color: #0054ff;
                    transition: all 0.15s ease-in;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: var(--dark-color);
                    }

                    &::after {
                        display: none;
                    }

                    .header-avatar {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                    }
                }

                .dropdown-menu {
                    top: calc(100% + 4px);
                    left: auto;
                    right: 0;

                    .dropdown-item {
                        padding: 5px 30px;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
