@import '../../../components/GlobalStyles/breakpoints.scss';

header.header {
    &.sticky {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
        z-index: 999;
    }

    nav.navbar {
        background-color: var(--primary-color);
    }
    .container {
        height: 56px;

        .navbar-brand {
            height: 100%;

            .img-logo {
                height: 40px;

                &-name {
                    @include breakpoint(xs) {
                        visibility: hidden;
                    }
                }
            }
        }

        .navbar-nav {
            .toggle-nav {
                color: var(--white);
                background: none;
                padding: 5px;
                display: flex;
                align-items: center;
                transition: all 0.15s ease;
                display: none;

                @include breakpoint(md) {
                    display: block;
                }

                &:hover {
                    color: #e2e2e2;
                }

                svg {
                    font-size: 2.6rem;
                }
            }
            .nav-item.dropdown {
                position: relative;

                .nav-link {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 2rem;
                    background-color: #fff;
                    color: var(--primary-color);
                    transition: all 0.03s ease-in;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    &::after {
                        display: none;
                    }

                    .header-avatar {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .notify-bagde {
                        top: 8px;
                        left: 40px;
                        font-size: 1.1rem;
                        z-index: 999;
                    }
                }

                .dropdown-menu,
                .notifications {
                    top: calc(100% + 4px);
                    left: auto;
                    right: 0;
                    z-index: 99999;
                    color: var(--text-color);
                    background-color: var(--nav-hover);
                    border: 1px solid #c2c2c2;

                    .dropdown-item {
                        padding: 5px 30px;
                        font-size: 1.6rem;
                        color: var(--text-color);

                        &:hover {
                            background-color: var(--sidebar-item-hover);
                        }
                    }
                }

                .notifications {
                    position: absolute;
                    font-size: 1.4rem;
                    width: 360px;
                    padding: 10px 0 20px;
                    max-height: min(100vh - 56px - 96px + 16px, 734px);
                    overflow-y: auto;
                    overflow-x: hidden;
                    border-radius: 4px;
                    display: none;

                    @media screen and (max-width: 479px) {
                        position: fixed;
                        top: calc(56px - 4px);
                        right: 50%;
                        transform: translateX(50%);
                        width: 95%;
                    }

                    &.show {
                        display: block;
                    }

                    // /* width */
                    // &::-webkit-scrollbar {
                    //     width: 10px;
                    // }

                    // /* Track */
                    // &::-webkit-scrollbar-track {
                    //     background: transparent;
                    // }

                    // /* Handle */
                    // &::-webkit-scrollbar-thumb {
                    //     background: #cacaca;
                    //     border-radius: 4px;
                    // }

                    // /* Handle on hover */
                    // &::-webkit-scrollbar-thumb:hover {
                    //     background: #afafaf;
                    // }

                    .title {
                        padding: 0 10px 10px;
                        font-size: 1.8rem;
                        font-weight: bold;
                        border-bottom: 1px solid #c2c2c2;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .dropdown-toggle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4px;
                        border-radius: 50%;
                        background-color: var(--nav-hover);
                        border: 1px solid var(--nav-hover);
                        color: var(--text-color);

                        &:hover {
                            background-color: var(--sidebar-item-hover);
                            border-color: var(--sidebar-item-hover);
                        }

                        svg {
                            font-size: 2rem;
                        }

                        &::after {
                            display: none;
                        }
                    }

                    .dropdown-item {
                        font-size: 1.4rem;
                        display: flex;
                        align-items: center;

                        svg {
                            font-size: 2rem;
                            margin-right: 10px;
                        }
                    }

                    .no-notify {
                        text-align: center;
                        padding: 20px 0;

                        svg {
                            color: #ffb71c;
                            font-size: 5rem;
                        }

                        span {
                            display: block;
                            margin-top: 10px;
                        }

                        a {
                            background-color: var(--primary-color);
                            padding: 6px 10px;
                            color: #fff;
                        }
                    }

                    .notify-list {
                        & > p {
                            text-align: end;

                            span {
                                cursor: pointer;
                                color: var(--primary-color);
                                font-size: 1.3rem;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .notify-item-wrapper {
                            position: relative;

                            .notify-item {
                                padding: 6px 36px 6px 12px;
                                display: flex;
                                align-items: flex-start;
                                text-align: start;
                                background-color: transparent;

                                &.unread {
                                    background-color: var(--primary-color-hover);
                                }

                                &:hover {
                                    background-color: var(--sidebar-item-hover);
                                }

                                .avatar-wrapper {
                                    padding-right: 10px;

                                    .avatar {
                                        width: 60px;
                                        height: 60px;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }

                                .notify-content {
                                    flex: 1;
                                    .content {
                                        color: var(--text-color);

                                        p {
                                            margin-bottom: 0;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                            -webkit-box-orient: vertical;
                                        }

                                        span {
                                            font-weight: bold;
                                        }
                                    }

                                    .time {
                                        color: var(--primary-color);
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                            .dropdown {
                                position: absolute;
                                right: 6px;
                                top: 6px;
                            }

                            .dropdown-toggle {
                                background: none;
                                border: none;

                                &:hover {
                                    background-color: var(--sidebar-item-hover);
                                }
                            }
                        }

                        .load-more {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 6px;

                            .skeleton {
                                opacity: 0.7;
                                border: none;
                                animation: skeleton-loading 1s linear infinite alternate;
                            }

                            .skeleton-img {
                                margin-right: 15px;
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                            }

                            .skeleton-text {
                                flex: 1;
                                height: 16px;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }

            .Toastify__toast-theme--light {
                background: rgba(255, 255, 255, 0.85);
                color: #000;
            }
        }
    }
}
