$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin breakpoint($breakpoint) {
    @if $breakpoint == xs {
        @media (max-width: $sm) {
            @content;
        }
    }
    @if $breakpoint == sm {
        @media (max-width: $md) {
            @content;
        }
    }
    @if $breakpoint == md {
        @media (max-width: $lg) {
            @content;
        }
    }
    @if $breakpoint == lg {
        @media (max-width: $xl) {
            @content;
        }
    }
    @if $breakpoint == xl {
        @media (max-width: $xxl) {
            @content;
        }
    }
    @if $breakpoint == xxl {
        @media (min-width: $xxl) {
            @content;
        }
    }
}
