@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'normalize.css';
@import './breakpoints.scss';
@import 'react-toastify/dist/ReactToastify.css';

// custom bootstrap variables
$primary: #0054ff;
$secondary: #ee4d2d;
$success: #00d200;
$info: #6c757d;

$container-max-widths: (
    sm: 100%,
    md: 780px,
    lg: 1100px,
    xl: 1100px,
    xxl: 1100px,
);

@import '~bootstrap/scss/bootstrap.scss';

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --grey: rgba(0, 0, 0, 0.26);
    --green: #00d200;
    --green-hover: rgba(0, 210, 0, 0.1);
    --red: #ff3838;
    --red-hover: rgba(255, 56, 56, 0.1);
    --primary-color: #0054ff;
    --primary-color-hover: rgb(0, 84, 255, 0.1);
    --primary-color-shadow: rgb(0, 84, 255, 0.5);
    --secondary-color: #ee4d2d;
    --dark-color: #ee4d2d;
    --time-color: #c0c0c0;
    --border-color: #ddd;
    --nav-bg-color: #ececec;
    --nav-hover: #fff;
    --nav-border: #dedede;
    --text-color: #000;
    --main-bg-color: #f0f2f5;
    --main-container-bg-color: #fff;
    --sidebar-title-color: #146289;
    --sidebar-item-hover: #f0f2f5;
    --detail-text-color: #666;
    --comment-bg-color: #f0f2f5;
    --reading-control-bg-color: rgba(246, 247, 248, 0.85);
    --chapter-list-bg-color: #f0f2f5;
}

.dark {
    --nav-bg-color: #000;
    --nav-hover: #000;
    --nav-border: #4d4d4d;
    --text-color: #fff;
    --primary-color: #ee4d2d;
    --primary-color-hover: rgb(238, 77, 45, 0.2);
    --primary-color-shadow: rgb(238, 77, 45, 0.8);
    --main-bg-color: #1a1a1a;
    --main-container-bg-color: #252525;
    --sidebar-title-color: #ee4d2d;
    --sidebar-item-hover: #383838;
    --detail-text-color: #fff;
    --comment-bg-color: #3a3b3c;
    --reading-control-bg-color: rgba(37, 37, 37, 0.85);
    --chapter-list-bg-color: #303030;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: Tahoma, sans-serif, Helvetica, Arial;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.container {
    padding: 0 1.5rem;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

.btn,
.form-control {
    font-size: 1.4rem;
    padding: 6px 8px;
    border-radius: 4px;
}

.btn {
    color: var(--white);

    &:hover {
        color: var(--white);
    }
}

a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
        color: var(--primary-color);
    }
}

ul {
    list-style: none;
}

.main-content {
    display: flex;

    @include breakpoint(md) {
        flex-direction: column;
    }

    .content {
        flex: 1;
        @include breakpoint(md) {
            width: 100%;
        }

        .items {
            padding: 0 15px;

            .no-comics {
                text-align: center;
                margin-bottom: 55px;
                img {
                    max-width: 200px;
                    height: auto;
                    border-radius: 6px;
                }
                p {
                    margin-top: 15px;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: var(--text-color);
                }
            }
        }

        .need-login {
            color: var(--text-color);
        }

        .need-login-btn {
            background-color: var(--primary-color);
        }
    }
}

.manager {
    background-color: #fff;
    // border-radius: 10px;
    padding: 15px 15px 30px 15px;

    .form {
        padding: 15px;
        background-color: #e4e9f7;
        margin-top: 15px;
        border-radius: 5px;

        .form-group {
            margin-bottom: 8px;
        }

        .btn {
            padding: 8px;
            font-size: 1.6rem;
            margin-top: 15px;
        }
    }

    .dropdown-toggle {
        min-width: 70px;
    }

    .dropdown-menu {
        font-size: 1.6rem;
    }

    .btn {
        font-size: 1.5rem;
    }
}

table {
    img {
        width: 80px;
        height: 80px;
        object-fit: cover;

        &.avatar {
            width: 60px;
            height: 60px;
        }
    }

    td {
        font-size: 1.4rem;
    }
}

.chapter-form {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;

    &-label {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--white);
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}

.modal-content {
    background-color: var(--nav-hover);

    .modal-header {
        .modal-title,
        .close {
            background-color: transparent;
            color: var(--text-color);

            svg {
                font-size: 2.4rem;
            }
        }
    }

    .modal-body {
        .card.card-body {
            background-color: var(--nav-hover);
        }
    }
}
