@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'normalize.css';
@import './breakpoints.scss';

// custom bootstrap variables
$primary: #0054ff;
$secondary: #ee4d2d;
$success: #00d200;

$container-max-widths: (
    sm: 100%,
    md: 780px,
    lg: 1100px,
    xl: 1100px,
    xxl: 1100px,
);

@import '~bootstrap/scss/bootstrap.scss';

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --grey: rgba(0, 0, 0, 0.26);
    --green: #00d200;
    --green-hover: rgba(0, 210, 0, 0.1);
    --red: #ff3838;
    --red-hover: rgba(255, 56, 56, 0.1);
    --primary-color: #0054ff;
    --secondary-color: #ee4d2d;
    --dark-color: #ee4d2d;
    --time-color: #c0c0c0;
    --border-color: #ddd;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: Tahoma, sans-serif, Helvetica, Arial;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.container {
    padding: 0 1.5rem;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

.btn,
.form-control {
    font-size: 1.4rem;
    padding: 6px 8px;
    border-radius: 4px;
}

.btn {
    color: var(--white);

    &:hover {
        color: var(--white);
    }
}

a {
    color: var(--black);
    text-decoration: none;

    &:hover {
        color: var(--primary-color);
    }
}

ul {
    list-style: none;
}

.main-content {
    display: flex;

    @include breakpoint(md) {
        flex-direction: column;
    }

    .content {
        flex: 1;
        @include breakpoint(md) {
            width: 100%;
        }

        .items {
            padding-right: 15px;
        }
    }
}
